<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

    <title>Hello, world!</title>
    <style>
        .addMargin-top {
            margin-top: 10px;
        }
        #searchContent
        {
            margin-top: 50px;
        }
    </style>
</head>

<body>

    <div class='container'>
        <div class='row'>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="searchInput">Search Github Repo</label>
                    <input type="text" class="form-control" id="searchInput" placeholder="Search Repo">
                </div>
                <button type="button" class="btn btn-primary" id="getRepo">Submit</button>
            </div>
               
            </div>
    </div>
    <div id="searchContent">
        </div>

        <div class="modal" id="myModal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="modalTitle"></h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p id="modalText"></p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script>

        $("#getRepo").click(function () {

            var searchValue = $('#searchInput').val();
            if(searchValue != '')
            {
            $.get("http://localhost:3000/api/github/search?value="+searchValue, function (data, status) {
                console.log(data);
                let content = "<div class='container'><div class='row'>";
                for (let i = 0; i < data.items.length; i++) {
                    content += `<div class='col-md-4 addMargin-top'><a href='javascript:void(0)' class="card">
                                <input type="hidden" name="repoName" value="${data.items[i].full_name}" />
                                <div class="card-body">

                                <h5 class="card-title">${ data.items[i].name}</h5>
                                <p class="card-text"></p>
                                </div></a></div>`;
                }
                content += "</div></div>";
                $("#searchContent").html(content);
                // alert("Data: " + data + "\nStatus: " + status);
            });
            }
            else
            {
                alert("Please provide some search text");
            }
        });

        $("#searchContent").on("click", ".card", function(){
            let repoName = $(this).children("input[name='repoName']").val();
            $.get("http://localhost:3000/api/github/repo?repoName="+repoName, function (data, status) {
                $("#modalTitle").text(data.name);
                $("#modalText").text(data.description);
                $('#myModal').modal('show')
            });
    
        });


    </script>
</body>

</html>